@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 14px;
}

.container {
    -webkit-font-smoothing: antialiased;
    width: 100%;
}

/* generic 변수 선언 */
:root {
    --blue: #287bff;
    --white: #fff;
    --grey: #f5f5f5;
    --grey1: #424242;
    --grey2: #999;
}

/* top-bar */
.topBar {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 34px 20px;
    margin: 0 auto;
    box-sizing: border-box;
    justify-content: space-between;
}

/* category container */
.categoryContainer {
    display: flex;
    font-size: 1.15rem;
    line-height: 1;
}

.categoryItem {
    position: relative;
    color: var(--grey1);
    margin-left: 50px;
    letter-spacing: -.3px;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    line-height: 1;
}

.categoryItem.active {
    font-size: 1.2rem;
    font-weight: bold;
}